version: "3.9"

services:
  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db  ##mongo-data is the named docker volume(managed by docker)

  server:
    build: ./server
    volumes :
      - ./server:/app
      - /app/node_modules
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  client:
    build: ./client
    volumes :
      - ./client:/app
    ports:
      - "3000:3000"
    depends_on:
      - server

volumes:
  mongo-data:
