services:
  database:
    image: mongo:latest
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
    restart: always

  backend:
    build: ./backend
    env_file: .env
    depends_on:
      database:
        condition: service_healthy
    logging:
      options:
        max-size: "10m"
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"  # Added for HTTPS traffic
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro # Mounts your mkcert files
      - ./frontend:/usr/share/nginx/html:ro # Mounts your HTML files
    restart: always

volumes:
  mongo_data: